<%= turbo_frame_tag dom_id(explanation) %>
  <div class='d-flex'>
    <%= link_to 'Edit', [:edit, explanation.art,explanation] %>
    <p>
      <strong>Description:</strong>
      <%= explanation.description %>
    </p>

    <div>
      <% if explanation.image.present? %>
        <div id="imageContainer" style="position: relative;">
          <%= cl_image_tag(explanation.image.key, id: "image", class: "img-fluid", alt: "Imagen de arte", style: "max-width: 100%;") %>
          <div id="pointer" style="position: absolute; width: 20px; height: 20px; background: red; display: none;"></div>
        </div>
      <% else %>
        <strong>no hay foto</strong>
      <% end %>
    </div>
  </div>
