<div id="<%= dom_id donation %>">
  <p>
    <strong>Amount:</strong>
    <%= donation.amount %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= donation.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= donation.user_id %>
  </p>

</div>
