
<div class="my-5 container">
  <h2>Donaciones Recibidas</h2>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% @donations_received.each do |donation| %>
    <div class="card mb-3">
    <h5 class="card-title"><strong>Tus donacion para ti</h5>

      <div class="card-body">
        <p class="card-text">
          <strong>Monto donado:</strong> <%= donation.amount %>
        </p>
        <p class="card-text">
          <strong>Message:</strong> <%= donation.message %>
        </p>

      </div>
    </div>
  <% end %>

  <div class="mt-3">
    <%= link_to "Volver", root_path, class: "btn btn-dark" %>
  </div>
</div>
