<div class="artpost-container">
  <p style="color: green"><%= notice %></p>

  <h1>My Arts</h1>

  <div id="arts" class="w-100">
    <div class="gap-5 row">
      <% @arts.each_slice(4) do |art_group| %>
        <div class="row">
          <% art_group.each do |art| %>
            <div class="col-3">
              <%= render "shared/artcard", art: art %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "New art", new_art_path %>
</div>
